<section id="market-page">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">美月无忧</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "首页", root_path %></li>
            <li><%= link_to "电影购票&影讯", movies_path %></li>
            <li><%= link_to "愉快购物", products_path %></li>
            <li><%= link_to "智能点餐", products_path %></li>
            <li><%= link_to "尝试云购", products_path %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</section>
<%= render 'shared/notification' %>
<section id="columns" class="offcanvas-siderbars">
	<div class="container">
		<div class="row">
			<section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="content" class="panel panel-default">
					<h1 class="suc">注册美月无忧账号</h1>
					<div class="underline">
						<p>如果你已经有账号了, 请在这里进入登录 <%= link_to "页面", new_member_session_path %>.</p>		
					</div>
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal" }) do |f| %>
            <div class="content" style="margin-top:30px;">
              <div class="form-group">
                <%= f.label :email, :class => "col-sm-2 control-label" %>
                <div class="col-sm-3">
                  <%= f.email_field :email, :autofocus => true, :class => "form-control" %>
                </div>
                <div class="col-sm-7 help-info">填写你常用的邮箱，用于登录，接收系统的一些优惠活动信息和修改密码的安全信息。</div>
              </div>
              <div class="form-group">
                <%= f.label :nickname, :class => "col-sm-2 control-label" %>
                <div class="col-sm-3">
                  <%= f.text_field :nickname, :class => "form-control" %>
                </div>
                <div class="col-sm-7">用户名，可以是英文+数字，用于登录和个性化主页。</div>
              </div>   
              <div class="form-group">
                <%= f.label :mobile, :class => "col-sm-2 control-label" %>
                <div class="col-sm-3">
                  <%= f.text_field :mobile, :class => "form-control" %>
                </div>
                <div class="col-sm-7">常用手机号，用于接收系统的一些安全性高和私密的信息，对外保密。</div>
              </div>

              <div class="form-group">
                <%= f.label :password, :class => "col-sm-2 control-label" %>
                <div class="col-sm-3">
                  <%= f.password_field :password, :class => "form-control" %>
                </div>
                <div class="col-sm-7">密码长度8~16位，数字、字母、字符至少包含两种。</div>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation, :class => "col-sm-2 control-label" %>
                <div class="col-sm-3">
                  <%= f.password_field :password_confirmation, :class => "form-control" %>
                </div>
                <div class="col-sm-7">再一次确认密码，必须和上面输入的密码一致。</div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <%= f.submit "立 即 注 册", :class => "btn btn-info" %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  按下注册按钮已经默认代表你阅读和同意美月无忧网站 <a class="colorbox" href="http://www.themelexus.com/demo/opencart/megashop/index.php?route=information/information/info&amp;information_id=3" alt="Privacy Policy"><b>使用条款</b></a>
                </div>
              </div>
            </div>          
          <% end %>
			</section>	
		</div>
	</div>
</section>
<script type="text/javascript">
  $('#new_member').validate({
    rules: {
      'member[email]': {
        required: true,
        email: true,
        remote: '/members/check_email'
      },
      'member[nickname]': {
        required: true,
        remote: '/members/check_nickname'
      },
      'member[mobile]': {
        required: true
      },
      'member[password]': {
        required: true,
        minlength: 8,
        maxlength: 16
      },
      'member[password_confirmation]': {
        required: true,
        minlength: 8,
        maxlength: 16
      }
    },
    messages: {
      'member[email]': {
        required: '<%= resource.errors.generate_message :email, :blank %>',
        email: '请填写有效的邮箱地址！',
        remote: '此邮箱已经存在！'
      },
      'member[nickname]': {
        required: '<%= resource.errors.generate_message :nickname, :blank %>',
        remote: '此用户名已经存在！'
      },
      'member[mobile]': {
        required: '<%= resource.errors.generate_message :mobile, :blank %>'
      },
      'member[password]': {
        required: '<%= resource.errors.generate_message :password, :blank %>',
        minlength: '至少8位以上密码',
        maxlength: '密码最多16位'
      },
      'member[password_confirmation]': {
        required: '<%= resource.errors.generate_message :password_confirmation, :blank %>',
        minlength: '至少8位以上密码',
        maxlength: '密码最多16位'
      }
    }
  });
</script>