<section id="market-page">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">美月无忧</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "首页", root_path %></li>
            <li><%= link_to "电影购票&影讯", movies_path %></li>
            <li><%= link_to "愉快购物", home_market_path %></li>
            <li><%= link_to "智能点餐", home_market_path %></li>
            <li><%= link_to "尝试云购", home_market_path %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</section>
<section id="sys-notification">
	<div class="container">
		<div id="notification">
			<%= devise_error_messages! %>
		</div>
	</div>
</section>
<section id="columns" class="offcanvas-siderbars">
	<div class="container">
		<div class="row">
			<section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="content">
					<h1>注册 账号</h1>
					<div class="wrapper underline no-margin">
						<p>如果你已经有账号了, 请在这里进入登录 <%= link_to "页面", new_member_session_path %>.</p>		
							<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
								<h2>个人信息</h2>
								<div class="content">
									<table class="form">
										<tr>
											<td>
												<span class="required">*</span>
												<%= f.label :email %>:
											</td>
											<td>
												<%= f.email_field :email, :autofocus => true %>
											</td>
										</tr>
										<tr>
											<td>
												<span class="required">*</span> 
												<%= f.label :nickname %>:
											</td>
											<td>
												<%= f.text_field :nickname %>
											</td>
										</tr>
										<tr>
											<td>
												<span class="required">*</span> 
												<%= f.label :mobile %>:
											</td>
											<td>
												<%= f.text_field :mobile %>
											</td>
										</tr>
										<tr>
											<td>
												<span class="required">*</span> 
												<%= f.label :password %>: 
											</td>
											<td>
												<%= f.password_field :password %>
											</td>
										</tr>
										<tr>
											<td>
												<span class="required">*</span>
												<%= f.label :password_confirmation %>:
											</td>
											<td>
												<%= f.password_field :password_confirmation %>
											</td>
										</tr>
									</table>
								</div>
				
								<div class="buttons">
									<div class="right">
										我已经阅读和同意美月无忧网站 <a class="colorbox" href="http://www.themelexus.com/demo/opencart/megashop/index.php?route=information/information/info&amp;information_id=3" alt="Privacy Policy"><b>使用条款</b></a>
										<input type="checkbox" name="agree" value="1" />
										<%= f.submit "注册", :class=>"btn btn-info" %>
									</div>
								</div>
														
							<% end %>
						</div>
					</div>	  
	  
			</section>	
		</div>
	</div>
</section>