<section id="movie-page">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">美月无忧电影</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">购票</a></li>
            <li><a href="#">问答</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</section>
<section id="tickets" class="offcanvas-siderbars">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading"><span>电影院管理中心</span></div>
          <ul class="list-group">
            <li class="list-group-item"><%= link_to '我的电影院', cinemas_path %></li>
          </ul>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading"><span>员工管理中心</span></div>
          <ul class="list-group">
            <li class="list-group-item"><%= link_to '员工列表', cinema_employments_path(@cinema) %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading">
            <span>员工列表</span>
          </div>
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th width="150px;">电话</th>
                  <th width="100px;">状态</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @employments.each do |employment| %>
                  <tr>
                    <td><%= employment.member.mobile %></td>
                    <td>
                      <span>
                        <a class="edit_employment" data-type="select" href="#" data-pk="<%= employment.id %>" data-url="<%= cinema_employment_path(@cinema, employment) %>" data-placement="right">
                          <%= employment.status.text %>
                        </a>
                      </span>
                    </td>
                    <td><%= link_to '删除', cinema_employment_path(@cinema, employment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function() {
    $.fn.editable.defaults.mode = 'pop';
    $(".edit_employment").editable({
      type: "text",
      title: "输入名称",
      source: [
        {value: 'work', text: '批准'}
      ],
      ajaxOptions: {
        type: 'PUT'
      },
      params: function(params) {
        //originally params contain pk, name and value
        params.employment = { "status" : "" };
        return params;
      }
    });
  });
</script>