<%= form_for(@node) do |f| %>
  <%= render 'shared/form_error_messages', :f => f %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
