<%= render 'manage/cinema/shared/navbar' %>
<%= render 'shared/notification' %>
<section id="tickets" class="offcanvas-siderbars">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-warning">
          <div class="panel-heading"><span>票务中心</span></div>
          <ul class="list-group">
            <li class="list-group-item">未付款电影票</li>
            <li class="list-group-item">已付款电影票</li>
            <li class="list-group-item">已取消电影票</li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading"><span>未付款电影票  (合并付款) | 由于数据同步可能带来订单信息及订单状态显示滞后，请稍等一会儿。</span></div>
            <table class="table table-hover">
              <% @tickets.each do |ticket| %>
              <tr>
                <td width="30"><input type="checkbox" name="tickets[]" value="<%= ticket.id %>" /></td>
                <td><%= ticket.cinema.name %></td>
                <td><%= ticket.movie.title %></td>
                <td><%= formattime(ticket.show_time.show_time) %></td>
                <td><%= ticket.hall_seat.movie_hall.name %></td>
                <td><%= ticket.hall_seat.row %>排<%= ticket.hall_seat.col %>号</td>
                <td><%= link_to "马上付款", "#" %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>