<%= render 'manage/cinema/shared/navbar' %>
<%= render 'shared/notification' %>
<section id="ticket" class="offcanvas-siderbars">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'manage/cinema/shared/cinemas_sidebar' %>
      </div>
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading">
            <span><%= link_to @cinema.name, manage_cinema_cinemas_path %></span> - <span>时间</span>
            <input type="hidden" id="selectedDate" value="today" />
          </div>
          <div class="panel-body">
            <ul class="clearfix list-inline">
              <li>
                <span id="today" class='checked' name='dateSpan' checked='true' onclick='App.moviePubDateChange(this);' >今天</span>
              </li>
              <li>
                <span id="tomorrow" class='unchecked' name='dateSpan' checked='false' onclick='App.moviePubDateChange(this);' >明天</span>
              </li>
              <li>
                <span id="last" class='unchecked' name='dateSpan' checked='false' onclick='App.moviePubDateChange(this);' >后天</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <span><%= link_to @cinema.name, manage_cinema_cinemas_path %></span> - <span>场次</span>
          </div>
          <div class="panel-body">
            <ul id="show_times" class="items clearfix list-inline">
            <% @show_times.each do |show_time| %>
              <li><span class='unchecked' data-id='<%= show_time.id %>' name='timeSpan' checked='false' onclick='App.cinemaShowTimeChange(this);' ><%= show_time.movie.title %> - <%= formattime(show_time.show_time, :unit => "hour") %> - <%= show_time.price %>元</span></li>
            <% end %>
            </ul>
          </div>
        </div>

        <%= form_for(Ticket.new) do |f| %>
        <%= f.hidden_field :movie_id %>
        <%= f.hidden_field :cinema_id, :value => @cinema.id %>
        <%= f.hidden_field :show_time_id %>
        <%= f.hidden_field :channel, :value => :shop %>
        <div class="panel panel-info">
          <div class="panel-heading">
            <span><%= link_to @cinema.name, manage_cinema_cinemas_path %></span> - <span>座位</span>
          </div>
          <div class="panel-body" id="hall_seats">
          </div>
        </div>
        <%= f.submit "出票", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</section>