<div class="col-md-2">
  <div class="sidebar">
    <ul class="nav nav-list">
      <li>
        <%= link_to "添加商品", new_cpanel_node_product_path(@node) %>
      </li>
      <li>
        <%= link_to "商品列表", cpanel_node_products_path(@node) %>
      </li>
    </ul>
  </div>
</div>
<div class="col-md-10">
  <div class="content">
    <ul class="breadcrumb">
      <li>管理面板</li>
      <li>商品管理</li>
      <li><%= @node.name %></li>
      <li><%= @product.name %></li>
      <li>图片管理</li>
    </ul>
    <div class="page-header">
      <span class="pull-right btn btn-success fileinput-button btn-sm">
        <i class="glyphicon glyphicon-plus"></i>
        <span>上传图片</span>
        <input id="fileupload" data-url="<%= cpanel_node_product_pictures_path(@node, @product) %>" multiple="" name="picture[image]" type="file" />
      </span>
    </div>
    <table class="table table-hover table-border" id="images_table">
      <thead>
        <th>图片</th>
        <th>封面</th>
        <th>上传时间</th>
        <th width="50">操作</th>
      </thead>
    <% @pictures.each do |picture| %>
      <tr>
        <td>
          <%= image_tag(picture.image.url("50x50"), :class=>"img-rounded") %>
        </td>
        <td><%= picture.is_cover ? "是" : "否" %></td>
        <td><%= formattime(picture.created_at) %></td>
        <td>
          <span class="pull-right">
            <%= link_to "删除", cpanel_node_product_picture_path(@node, @product, picture), :class=>"btn btn-danger", :method =>:delete, data: { confirm: 'Are you sure?' } %>
          </span>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    $('#fileupload').fileupload({
      dataType: 'json',
      done: function(e, data) {
        $('#images_table').append('<tr id="image_' + data.result.id + '"><td><img src="' + data.result.url.s + 
        '" /></td><td>' + data.result.is_cover + '</td><td>' + data.result.created_at + '</td><td><span class="pull-right"></span></td></tr>');
      }
    });
  });
</script>