<div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">我的账号</div>
          <ul class="list-group">
            <li class="list-group-item">
              <%= link_to "账号资料", edit_member_registration_path %>
            </li>
            <li class="list-group-item">
              <%= link_to "地址本", "#" %>
            </li>
            <li class="list-group-item">
              <%= link_to "收藏夹", favorites_path %>
            </li>
            <li class="list-group-item">
              <%= link_to "我的订单", orders_path %>
            </li>
            <li class="list-group-item">
              <%= link_to "站内通知", "#" %>
            </li>
            <li class="list-group-item">
              <%= link_to "退出登录", destroy_member_session_path, :method => :delete %>
            </li>
          </ul>
        </div>
      </div>