			<section id="topbar">
				<div class="container">				
					<div class="navbar-header pull-left">
						<div class="clearfix">
							<% if member_signed_in? %>
							<ul class="links">
								<li class="hidden-xs">
									<%= link_to favorites_path do %>
										<i class="fa fa-user"></i>收藏夹 (<%= current_member.favorites.count %>)
									<% end %>
								</li>
								<li>
									<%= link_to edit_member_registration_path do %>
										<i class="fa fa-list"></i>我的账号
									<% end %>
								</li>
								<% if current_member.role.seller? %>
									<% if is_cinema_owner? %>
										<li class="hidden-xs">
											<%= link_to manage_cinema_cinemas_path do %>
												<i class="fa fa-archive"></i>我的电影院
											<% end %>
										</li>
									<% end %>
									<% if is_restaurant_owner? %>
										<li class="hidden-xs">
											<%= link_to manage_restaurant_restaurants_path do %>
												<i class="fa fa-archive"></i>我的餐厅
											<% end %>
										</li>
									<% end %>
								<% end %>
								<li>
								<%= link_to carts_path do %>
									<i class="fa fa-shopping-cart "></i>我的购物车</a></li>
								<% end %>
								<li>
									<%= link_to destroy_member_session_path, :method => :delete, :class=>"last" do %>
										<i class="fa fa-sign-out"></i>退出
									<% end %>
								</li>
							</ul>
							<% else %>
							<div class="login links">
								<%= link_to new_member_session_path do %>
									<i class="fa fa-lock"></i> 登录
								<% end %>
								<%= link_to new_member_registration_path do %>
									<i class=" fa fa-pencil"></i> 注册
								<% end %>
							</div>
							<% end %>
						</div>					
					</div>

					<div class="support pull-right hidden-xs hidden-sm">
						<div class="pull-right left">
							<ul class="links hidden-xs hidden-sm hidden-md">
								<li><i class="fa fa-headphones">&nbsp;</i> 支持 24小时/7天: <b> 18316464413</b></li>
								<li><i class="fa fa-skype">&nbsp;</i> QQ: <b>251927161</b></li>
							</ul>				
						</div>	
					</div>				
				</div>
			</section>