<section id="market-page">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">美月无忧</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "首页", root_path %></li>
            <li><%= link_to "电影购票&影讯", movies_path %></li>
            <li><%= link_to "愉快购物", products_path %></li>
            <li><%= link_to "智能点餐", products_path %></li>
            <li><%= link_to "尝试云购", products_path %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</section>
<%= render 'shared/notification' %>
<section id="home_page">
	<div class="container">
		<div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="movie" class="ui-slide-box">
              <div class="ui-slide-control">
                <span class="title">电影</span>
                <div class="pull-right">
                  <a class="prev-next-btn left" href="#" data-slide="prev">
                  </a>
                  <a class="prev-next-btn right" href="#"  data-slide="next">
                  </a>
                </div>
              </div>
              <div class="ui-slide-content">
                <div class="row">
                  <% @movies.each do |movie| %>
                  <div class="ui-slide-content-box col-md-3">
                    <%= link_to movie_path(movie) do %>
                      <%= image_tag(movie.cover.url("140x140")) %>
                    <% end %>
                    <div class="controll-box">
                      <a href="" class="left pull-left" alt="订票">
                        <span class="fa fa-plus"></span>
                      </a>
                      <a href="" class="right pull-right" alt="赞">
                        <span class="fa fa-heart"></span>
                      </a>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">         
            <div id="content">
              <div class="ui-slide-control">
                <span class="title">商城</span>
              </div>
              <div class="ui-slide-content newgoods">
                <div class="row">
                  <div class="col-md-12">
                    <ul class="home-goods-list home-goods-listlt clearfix">
                         
     
                      <li class="big">
                        <a href="#" target="_blank">
                            <%= image_tag("weishengjin.png", :alt => "卫生巾") %>
                        </a>
                      </li>
                     
                         
                      <li>
                        <a href="#" target="_blank">
                          <%= image_tag("lingshi.png", :alt => "零食") %>
                        </a>
                      </li>
                     
                         
                      <li class="last">
                        <a href="#" target="_blank">
                          <%= image_tag("zhiniaoku.png", :alt => "纸尿裤") %>
                        </a>
                      </li>
                     
                    </ul>
                    <ul class="home-goods-list home-goods-listrt clearfix">
                                             
                         
                      <li class="small">
                          <a href="#" target="_blank">
                        <%= image_tag("huazhuang.png", :alt=>"潮装学院") %>
                          </a>
                      </li>
                     
                         
                      <li class="small">
                          <a href="#" target="_blank">
                        <%= image_tag("shouji.png", :alt => "手机") %>
                          </a>
                      </li>
                     
                         
                      <li class="small smallsublast">
                          <a href="#" target="_blank">
                        <%= image_tag("wenxiong.png", :alt => "文胸") %>
                          </a>
                      </li>
                     
                         
                      <li class="small smalllast last">
                          <a href="http://www.xiaomi.com/item/1134900194" target="_blank">
                        <%= image_tag("xiezi.png", :alt => "鞋子") %>
                          </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ui-slide-box">
          <div class="ui-slide-control">
            <span class="title">话费充值</span>
          </div>
          <div class="ui-slide-content">
            <form class="xm-recharge-form" action="#">
              <fieldset class="xm-recharge-tel">
                <label for="rechargeTel">手机号：</label>
                <span id="rechargeTips" class="xm-recharge-tips"></span>
                <input type="tel" class="form-control" name="rechargeTel" id="rechargeTel" placeholder="支持移动、联通、电信" />
              </fieldset>
              <fieldset class="xm-recharge-amount clearfix">
                <span class="fieldset-name">面值：</span>
                <label><input type="radio" name="rechargeAmount" id="amount30" value="30" />30元</label>
                <label><input type="radio" name="rechargeAmount" id="amount50" value="50" />50元</label>
                <label><input type="radio" name="rechargeAmount" id="amount100" value="100" checked />100元</label>
              </fieldset>
              <fieldset class="xm-recharge-price clearfix">
                <span class="fieldset-name">价格：</span>
                <span id="rechargePrice" class="fieldset-text"><span>98.4</span>元起</span>
              </fieldset>
              <fieldset class="xm-recharge-submit">
                <input id="rechargeBtn" class="btn btn-danger btn-recharge-submit disabled" type="submit" value="服务正在升级" />
              </fieldset>
            </form>
          </div>
        </div>
        <div id="movie" class="ui-slide-box">
          <div class="ui-slide-control">
            <span class="title">特价商品</span>
          </div>
          <div class="ui-slide-content">
            
          </div>
        </div>
      </div>  
    </div>
	</div>
</section>