<div class="content">
  <table class="navigation-box">
    <tr>
      <td>
        <%= link_to products_path do %>
          <span class="fa fa-shopping-cart"></span>
          <span>商城</span>
        <% end %>
      </td>
      <td>
        <%= link_to foods_path do %>
          <span class="fa fa-cutlery"></span>
          <span>餐厅</span>
        <% end %>
      </td>
      <td>
        <%= link_to movies_path do %>
          <span class="fa fa-file-video-o"></span>
          <span>电影</span>
        <% end %>
      </td>
    </tr>
  </table>
  <%= render 'shared/notification' %>
  <section id="home_page">
    <div class="container">
      <div class="row">
        <section class="col-xs-12">
          <div id="movie" class="ui-slide-box">
            <div class="ui-slide-control">
              <span class="title">商城</span>
            </div>
            <div class="ui-slide-content">
              <% Product.all.order("sales ASC").limit(4).each do |product| %>
                <div class="ui-slide-content-box">
                  <%= link_to product_path(product) do %>
                    <%= image_tag(product.pictures.first.image.url("140x140")) if not product.pictures.blank? %>
                  <% end %>
                  <div class="controll-box">
                    <a href="" class="left pull-left" alt="订票">
                      <span class="fa fa-plus"></span>
                    </a>
                    <a href="" class="right pull-right" alt="赞">
                      <span class="fa fa-heart"></span>
                    </a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </section>
      </div>
      <div class="row">
        <section class="col-xs-12">
          <div id="movie" class="ui-slide-box">
            <div class="ui-slide-control">
              <span class="title">餐饮</span>
            </div>
            <div class="ui-slide-content">
              <div class="row">
                <% Food.all.order("name ASC").limit(4).each do |food| %>
                <div class="ui-slide-content-box">
                  <%= link_to food_path(food) do %>
                    <%= image_tag(food.images.first.image.url("140x140")) %>
                  <% end %>
                  <div class="controll-box">
                    <a href="" class="left pull-left" alt="订票">
                      <span class="fa fa-plus"></span>
                    </a>
                    <a href="" class="right pull-right" alt="赞">
                      <span class="fa fa-heart"></span>
                    </a>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="row">
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id="movie" class="ui-slide-box">
            <div class="ui-slide-control">
              <span class="title">电影</span>
            </div>
            <div class="ui-slide-content">
              <div class="row">
                <% Movie.all.limit(4).each do |movie| %>
                <div class="ui-slide-content-box">
                  <%= link_to movie_path(movie) do %>
                    <%= image_tag(movie.cover.url("140x140")) %>
                  <% end %>
                  <div class="controll-box">
                    <a href="" class="left pull-left" alt="订票">
                      <span class="fa fa-plus"></span>
                    </a>
                    <a href="" class="right pull-right" alt="赞">
                      <span class="fa fa-heart"></span>
                    </a>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</div>