<header class="bar bar-nav">
  <a class="btn pull-left">客户端</a>
  <a class="btn pull-right">分类</a>
  <h1 class="title">美月无忧</h1>
</header>
<nav class="bar bar-tab">
  <a href="<%= root_path %>" class="tab-item #{'active' if controller_name == 'waps' && action_name == 'show'}">
    <span class="icon icon-home"></span>
    <span class="tab-label">首页</span>
  </a>
  <a href="<%= carts_path %>" class="tab-item">
    <span class="icon icon-gear"></span>
    <span class="tab-label">购物车</span>
  </a>
  <a href="<%= nodes_path %>" class="tab-item">
    <span class="icon icon-list"></span>
    <span class="tab-label">分类</span>
  </a>
  <a href="#" class="tab-item #{'active' if controller_name == 'foods' && action_name == 'search'}">
    <span class="icon icon-search"></span>
    <span class="tab-label">搜索</span>
  </a>
  <a href="<%= edit_member_registration_path %>" class="tab-item">
    <span class="icon icon-person"></span>
    <span class="tab-label">我的</span>
  </a>
</nav>
<div class="content">
  <%= render 'shared/notification' %>
  <section id="home_page">
    <div class="container">
      <div class="row">
        <section class="col-xs-12">
          <div id="movie" class="ui-slide-box">
            <div class="ui-slide-control">
              <span class="title">商城</span>
            </div>
            <div class="ui-slide-content">
              <% Product.all.order("sales ASC").limit(4).each do |product| %>
                <div class="ui-slide-content-box">
                  <%= link_to product_path(product) do %>
                    <%= image_tag(product.pictures.first.image.url("140x140")) if not product.pictures.blank? %>
                  <% end %>
                  <div class="controll-box">
                    <a href="" class="left pull-left" alt="订票">
                      <span class="fa fa-plus"></span>
                    </a>
                    <a href="" class="right pull-right" alt="赞">
                      <span class="fa fa-heart"></span>
                    </a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </section>
      </div>
      <div class="row">
        <section class="col-xs-12">
          <div id="movie" class="ui-slide-box">
            <div class="ui-slide-control">
              <span class="title">餐饮</span>
            </div>
            <div class="ui-slide-content">
              <div class="row">
                <% Food.all.order("name ASC").limit(4).each do |food| %>
                <div class="ui-slide-content-box">
                  <%= link_to food_path(food) do %>
                    <%= image_tag(food.images.first.image.url("140x140")) %>
                  <% end %>
                  <div class="controll-box">
                    <a href="" class="left pull-left" alt="订票">
                      <span class="fa fa-plus"></span>
                    </a>
                    <a href="" class="right pull-right" alt="赞">
                      <span class="fa fa-heart"></span>
                    </a>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="row">
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id="movie" class="ui-slide-box">
            <div class="ui-slide-control">
              <span class="title">电影</span>
            </div>
            <div class="ui-slide-content">
              <div class="row">
                <% Movie.all.limit(4).each do |movie| %>
                <div class="ui-slide-content-box">
                  <%= link_to movie_path(movie) do %>
                    <%= image_tag(movie.cover.url("140x140")) %>
                  <% end %>
                  <div class="controll-box">
                    <a href="" class="left pull-left" alt="订票">
                      <span class="fa fa-plus"></span>
                    </a>
                    <a href="" class="right pull-right" alt="赞">
                      <span class="fa fa-heart"></span>
                    </a>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</div>