    <section class="pav-promotion" id="pav-promotion">
      <div class="container">
        <div class="in-border">
          <div class="row">         
            <div class="col-lg-9 col-md-9 col-sm-12 col-lg-offset-3 col-md-offset-3"> 
              <div class="row"> 
                <div class="col-lg-9 col-md-9">
                  <div id="pavcontentslider8" class="carousel slide pavcontentslider hidden-xs">
                    <div class="carousel-inner">
                      <div class="item active">
                        <a href="#">
                          <img src="http://www.themelexus.com/demo/opencart/megashop/image/cache/data/demo/layer-slider-1-700x369.png" alt="New Arrivals" />
                        </a>
                        <div class="pav-caption expandUp typo-small green" style="top:222px;left:44px">New Arrivals</div>
                        <div class="pav-caption stretchRight typo-big black big-caption" style="top:250px;left:44px">35 % off</div>
                        <div class="pav-caption fadeIn typo-big-black black  normal-caption" style="top:248px;left:271px">sales</div>
                      </div>
                      <div class="item ">
                        <a href="#">
                          <img src="http://www.themelexus.com/demo/opencart/megashop/image/cache/data/demo/layer-slider-2-700x369.png" alt="fashion" />
                        </a>
                        <div class="pav-caption stretchLeft typo-small black" style="top:50px;left:72px">fashion</div>
                        <div class="pav-caption stretchRight typo-big black" style="top:75px;left:74px">summer 2013</div>
                      </div>
                      <div class="item ">
                        <a href="#">
                          <img src="http://www.themelexus.com/demo/opencart/megashop/image/cache/data/demo/layer-slider-3-700x369.png" alt="top" />
                        </a>
                        <div class="pav-caption expandOpen typo-small white" style="top:30px;left:113px">top</div>
                        <div class="pav-caption fadeIn typo-small white" style="top:55px;left:112px">favorite</div>
                        <div class="pav-caption expandOpen typo-big white" style="top:74px;left:113px">brands</div>
                      </div>
                      <div class="item ">
                        <a href="#">
                          <img src="http://www.themelexus.com/demo/opencart/megashop/image/cache/data/demo/layer-slider-4-700x369.png" alt="spring" />
                        </a>
                        <div class="pav-caption hatch typo-small orange" style="top:71px;left:379px">spring</div>
                        <div class="pav-caption expandOpen typo-big gray" style="top:98px;left:378px">collections</div>
                      </div>
                    </div>
                    <a class="carousel-control left fa fa-angle-left " href="#pavcontentslider8" data-slide="prev"></a>
                    <a class="carousel-control right fa fa-angle-right" href="#pavcontentslider8" data-slide="next"></a>
                    <ol class="carousel-indicators">
                      <li data-target="#pavcontentslider8" data-slide-to="0" class="active"></li>
                      <li data-target="#pavcontentslider8" data-slide-to="1" class=""></li>
                      <li data-target="#pavcontentslider8" data-slide-to="2" class=""></li>
                      <li data-target="#pavcontentslider8" data-slide-to="3" class=""></li>
                    </ol>
                  </div>
                  <script type="text/javascript">
                  <!--
                    $('#pavcontentslider8').carousel({interval:8000});
                  -->
                  </script>
                </div>        
                <div class="col-lg-3 col-md-3">
                  <div class="box pav-custom  custom-block hidden-xs hidden-sm">
                    <div class="box-heading">
                      <span>我们的承诺</span>
                    </div>
                    <div class="box-content">
                      <ul class="custom">
                        <li>
                          <i class="fa fa-legal">&nbsp;</i>
                          <h3>最优惠的价格</h3>
                          <p>Lorem Ipsum roin gra nibh vel velit</p>
                        </li>
                        <li>
                          <i class="fa fa-rocket">&nbsp;</i>
                          <h3>最准时的配送</h3>
                          <p>Aenean sollicitudin lorem quis bibendum</p>
                        </li>
                        <li>
                          <i class="fa fa-money">&nbsp;</i>
                          <h3>最安全的支付</h3>
                          <p>Duis sed odio sit amet nibh vulputate</p>
                        </li>
                        <li>
                          <i class="fa fa-shopping-cart">&nbsp;</i>
                          <h3>最完善的售后</h3>
                          <p>Lorem Ipsum roin gra nibh vel velit</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>        
            </div>       
          </div>
        </div>
      </div>  
    </section>
<section id="columns" class="offcanvas-siderbars">
  <div class="row visible-xs">
    <div class="container"> 
      <div class="offcanvas-sidebars-buttons">
        <button type="button" data-for="column-left" class="pull-left btn btn-danger"><i class="fa fa-sort-amount-asc"></i> Sidebar Left</button>
      
        <button type="button" data-for="column-right" class="pull-right btn btn-danger">Sidebar Right <i class="fa fa-sort-amount-desc"></i></button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <section class="col-lg-9 col-md-9 col-sm-12 col-xs-12">         
        <div id="content">
          <div class="content-top">
          <% Node.all.each do |node| %>
            <div class=" box productcarousel">
              <div class="box-heading">
                <span><%= node.name %></span>
              </div>
              <div class="box-content">
                <div class="box-products slide" id="productcarousel156">
                  <div class="carousel-controls">
                    <a class="carousel-control left fa fa-angle-left" href="#productcarousel156"   data-slide="prev"></a>
                    <a class="carousel-control right fa fa-angle-right" href="#productcarousel156"  data-slide="next"></a>
                  </div>
            
                  <div class="carousel-inner">
                    <div class="item active product-grid no-margin">
                      <div class="row">
                  <% count = 1 %>
                  <% node.products.each do |product| %>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                          <div class="product-block">
                            <div class="image ">
                              <span class="product-label-special"><span>Sale</span></span>
                              <div class="image_container">
                                <a href="" class="img front">
                                  <%= image_tag(product.pictures.first.image.url("500x500"), :title=>"#{product.name}", :alt=>"#{product.name}", :class=>"img-responsive") %>
                                </a>
                              </div>
                              <a href='<%= product.pictures.first.image.url("500x500") %>' class="info-view colorbox product-zoom" rel="colorbox" title="MacBook">
                                <i class="fa fa-search-plus"></i>
                              </a>
                              <%= link_to product_path(product), :class=>"pav-colorbox" do %>
                                <span class='fa fa-eye'></span>浏览
                              <% end %>
                              <div class="img-overlay">
                              </div>
                            </div>
                                    
                            <div class="product-meta">                  
                              <h3 class="name">
                                <%= link_to product.name, product_path(product) %>
                              </h3>                   
                              <p class="description">
                      
                                Intel Core 2 Duo processor

                                Powered ...
                              </p>
                              <div class="price">
                                <span class="price-old">￥<%= product.price %></span> 
                                <span class="price-new">￥<%= product.price %></span>
                              </div>
                                        
                              <div class="action">
                                <div class="cart">  
                                  <a class="product-icon fa fa-shopping-cart shopping-cart " onclick="return App.addToCart(this);" data-id="<%= product.id %>" data-placement="top" data-toggle="tooltip" data-original-title="添加到购物车"></a> 
                                </div>
                                <div class="wishlist">
                                  <%= favorites_tag(product) %> 
                                </div>
                                <div class="compare">     
                                  <a onclick="addToCompare('43');" title="Add to Compare" class="fa fa-exchange product-icon" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>  
                                </div>
                              </div>  
                            </div>                  
                          </div>
                        </div>
                        <% if count%4 == 0 %>
                      </div>
                    </div>
                    <div class="item product-grid no-margin">
                      <div class="row">
                    <% end %>
                  <% count += 1 %>
                  <% end %>           
                      </div>
                    </div>
                  </div>                
                </div>
              </div>  
            </div>
          <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>