<section id="market-page">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">美月无忧商城</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "首页", home_market_path %></li>
            <% Node.all.each do |node| %>
            <li>
              <%= link_to node.name, node_products_path(node) %>
            </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</section>
<section id="market" class="offcanvas-siderbars">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-group product-category">
          <% Node.all.each do |node| %>
          <li class="list-group-item">
            <%= link_to node.name, node_products_path(node) %>
            <span class="pull-right"><i class="fa fa-angle-right"></i></span>
          </li>
          <% end %>
        </ul>
      </div>
      <section class="col-lg-9 col-md-9 col-sm-12 col-xs-12">    
        <div id="content">
          <div class="content-top">
          <% Node.all.each do |node| %>
            <div class=" box productcarousel">
              <div class="box-content">
                <div class="box-products slide" id="productcarousel<%= node.id %>">
                  <div class="ui-slide-control">
                    <span class="title"><%= node.name %></span>
                    <div class="pull-right">
                      <a class="prev-next-btn left" href="#productcarousel<%= node.id %>" data-slide="prev">
                      </a>
                      <a class="prev-next-btn right" href="#productcarousel<%= node.id %>"  data-slide="next">
                      </a>
                    </div>
                  </div>
            
                  <div class="carousel-inner">
                    <div class="item active product-grid no-margin">
                      <div class="row">
                  <% count = 1 %>
                  <% node.products.each do |product| %>
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                          <div class="products-item">
                            <div class="item-thumb">
                              <%= image_tag(product.pictures.first.image.url("500x500")) %>
                            </div>
                            <h3 class="item-name"><%= link_to product.name, product_path(product) %></h3>
                            <div class="item-price"><%= product.price %> 元</div>
                            <div class="item-action">
                              <a onclick="return App.addToCart(this);" data-id="<%= product.id %>">
                                <i class="fa fa-plus-circle"></i> 加入购物车
                              </a>
                            </div>
                          </div>
                        </div>
                        <% if count%4 == 0 %>
                      </div>
                    </div>
                    <div class="item product-grid no-margin">
                      <div class="row">
                    <% end %>
                  <% count += 1 %>
                  <% end %>           
                      </div>
                    </div>
                  </div>                
                </div>
              </div>  
            </div>
          <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>