<%= form_for([:cpanel, @cinema, @show_time], :validate => true, :html => {:class => "form-horizontal"}) do |f| %>
<fieldset>
  <div class="form-group">
    <label class="col-sm-3 control-label">电影：</label>
    <div class="col-sm-9">
      <%= f.select :movie_id, Movie.all.map{ |m| [m.title, m.id] }, {:prompt=>"请选择"}, :class=>"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">影厅：</label>
    <div class="col-sm-9">
      <%= f.select :movie_hall_id, @cinema.movie_halls.map{ |m| [m.name, m.id] }, {:prompt=>"请选择"}, :class=>"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">时间：</label>
    <div class="col-sm-9">
      <%= f.datetime_select :show_time, :class=>"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit "保存", :class => 'btn btn-default' %>
      or
      <%= link_to '返回', cpanel_cinema_show_times_path(@cinema), :class => 'btn btn-default' %>
    </div>
  </div>
</fieldset>
<% end %>