<section id="market-page">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">美月无忧商城</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "首页", products_path %></li>
            <% Node.all.each do |node| %>
            <li>
              <%= link_to node.name, node_products_path(node) %>
            </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</section>
<section id="sys-notification">
  <div class="container">
    <div id="notification">
      <%= notice_message %>
    </div>
  </div>
</section>
<section id="order" class="offcanvas-siderbars">
  <div class="container">
    <div class="row">
      <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="content" class="panel panel-success">
          <div class="panel-heading">
            订单结算
          </div>
          <div class="panel-body">
            <%= form_for(@order, :html => {:class => "form-horizontal"}) do |f| %>
              <%= render 'shared/form_error_messages', :form => f %>
                <table class="table table-hover table-bordered">
                  <thead>
                    <tr>
                      <td class="image">图片</td>
                      <td class="name">商品</td>
                      <td class="quantity" style="width:100px;">数量</td>
                      <td class="price" style="width:100px;">单价</td>
                      <td class="total" style="width:100px;">总价</td>
                    </tr>
                  </thead>
                  <tbody>
                  <% @line_items.each do |line_item| %>
                    <tr>
                      <td class="image" data-label="Image" style="width:100px;height:50px;">
                        <%= line_item_image_tag(line_item) %>
                      </td>
                      <td class="name" data-label="Product Name">
                        <%= line_item_a_tag(line_item) %>
                        <input type="checkbox" name="line_items[]" value="<%= line_item.id %>" checked="true" style="display:none;" />
                      </td>
                      <td class="quantity" style="line-height:40px;">
                        <%= line_item.amount %>
                      </td>
                      <td class="price" style="line-height:40px;">￥<%= line_item.line_itemable.price %></td>
                      <td class="total" style="line-height:40px;">￥<%= line_item.line_itemable.price * line_item.amount %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              <!--
              <div class="form-group">
                <label class="col-sm-1 control-label"><%= f.label :pay_method %></label>
                <div class="col-sm-11">
                  <%= f.collection_radio_buttons :pay_method, Order.pay_method.options, :last, :first do |o| %>
                  <%= o.label(:class => 'radio-inline'){ o.radio_button + o.text } %>
                  <% end %>
                </div>
              </div>
              -->
              <div class="form-group">
                <label class="col-sm-1 control-label"><%= f.label :address %></label>
                <div class="col-sm-11">
                  <%= f.text_field :address, :class => "form-control" %>
                </div>
              </div>
              <div class="buttons">
                <div class="pull-right">
                  <%= f.submit "确认订单", :class=>"btn btn-danger" %>
                </div>
                <div class="left">
                  <%= link_to "继续购物", products_path, :class=>"btn btn-info" %>
                </div>
              </div>
            <% end %>    
          </div>  
        </div>
      </section>
    </div>
  </div>
</section>