<section id="market-page">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">美月无忧商城</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "首页", products_path %></li>
            <% Node.all.each do |node| %>
            <li>
              <%= link_to node.name, node_products_path(node) %>
            </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</section>
<%= render 'shared/notification' %>
<section id="order" class="offcanvas-siderbars">
  <div class="container">
    <div class="row">
      <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="content" class="panel panel-success">
          <div class="panel-heading">
            订单结算
          </div>
          <div class="panel-body xm-box">
            <%= form_for(@order, :html => {:class => "form-horizontal"}) do |f| %>
              <%= render 'shared/form_error_messages', :form => f %>
              <div class="hd">
                <h2 class="title">收货地址</h2>
              </div>
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <td class="image">图片</td>
                    <td class="name">商品</td>
                    <td class="quantity" style="width:100px;">数量</td>
                    <td class="price" style="width:100px;">单价</td>
                    <td class="total" style="width:100px;">总价</td>
                  </tr>
                </thead>
                <tbody>
                <% @line_items.each do |line_item| %>
                  <tr>
                    <td class="image" data-label="Image" style="width:100px;height:50px;">
                      <%= line_item_image_tag(line_item) %>
                    </td>
                    <td class="name" data-label="Product Name">
                      <%= line_item_a_tag(line_item) %>
                      <div class="cart-option">
                        <% line_item.variant.option_values.each do |option_value| %>
                        <%= "#{option_value.option_type.presentation}:#{option_value.presentation} " %>
                        <% end %>
                      </div>
                      <small></small>
                      <input type="checkbox" name="line_items[]" value="<%= line_item.id %>" checked="true" style="display:none;" />
                    </td>
                    <td class="quantity" style="line-height:40px;">
                      <%= line_item.quantity %>
                    </td>
                    <td class="price" style="line-height:40px;">￥<%= line_item.product.price %></td>
                    <td class="total" style="line-height:40px;">￥<%= line_item.product.price * line_item.quantity %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
              <div class="hd">
                <h2 class="title">收货地址</h2>
              </div>
              <div class="clearfix xm-address-list" id="checkoutAddrList">
                <input type="radio" id="address_0" name="order[address_id]" class="addressId" value="" checked style="display:none;" />
                <% current_member.addresses.each do |address| %>
                <dl data-id="address_<%= address.id %>" data-addressee="address.addressee" data-mobile="address.mobile" data-address="<%= address.address %>" class="<%= "selected" if current_member.ship_address_id == address.id %>" name='address_dl'>
                  <dt>
                    <strong class="itemConsignee"><%= address.addressee %></strong>
                    <span class="itemTel"><%= address.mobile %></span>
                  </dt>
                  <dd>
                    <p class="itemRegion"><%= address.address %></p>
                    <p class="itemStreet"></p>
                    <span class="icon-common icon-common-edit checkoutAddrEdit"></span>
                  </dd>
                  <dd style="display:none">
                    <input type="radio" id="address_<%= address.id %>" name="order[address_id]" class="addressId"  value="<%= address.id %>" <%= 'checked' if current_member.ship_address_id == address.id %> />
                  </dd>
                </dl>
                <% end %>
                <dl id="new_address">
                  <dd>
                    <dt style="height:40px;">
                      <input type="text" id="new_address_addressee" class="form-control pull-left" placeholder="收货人名称" style="width:80px;" />
                      <input type="text" id="new_address_mobile" class="form-control pull-right" placeholder="收货人电话" style="width:100px;" />
                    </dt>
                    <dd>
                      <textarea id="new_address_address" placeholder="收货地址" rows="2" class="form-control" style="width:198px;"></textarea>
                    </dd>
                    <dd>
                      <span>
                        <a href="#" id="new_address_button">使用新地址</a>
                      </span>
                    </dd>
                  </dd>
                </dl>
              </div>
              
              <div class="buttons">
                <div class="pull-right">
                  <% if current_member.addresses.blank? %>
                  <%= f.submit "确认订单", :class=>"btn btn-danger" %>
                  <% else %>
                  <%= f.submit "确认订单", :class=>"btn btn-danger disable" %>
                  <% end %>
                </div>
                <div class="left">
                  <%= link_to "继续购物", products_path, :class=>"btn btn-info" %>
                </div>
              </div>
            <% end %>    
          </div>  
        </div>
      </section>
    </div>
  </div>
</section>
<form action="<%= account_addresses_path %>" id="new_address_form" data-remote="true" method="post">
  <input type="hidden" name="address[addressee]" />
  <input type="hidden" name="address[mobile]" />
  <input type="hidden" name="address[address]" />
  <input type="hidden" name="comeback" value="new_order" />
  <input type="hidden" name="back_url" value="<%= request.url %>" />
</form>
<script type="text/javascript">
  $("#checkoutAddrList dl[name='address_dl']").on("click", function() {
    var theDL = $(this);
    theDL.siblings().removeClass('selected');
    theDL.addClass("selected");
    $('input[name="order[address_id]"]').each(function(){
      if(theDL.data("id") == this.id) {
        $(this).prop('checked', true);
      } else {
        $(this).prop('checked', false);
      }
    });
  });

  $('#new_address_button').on("click", function() {
    if ($('#new_address_addressee').val() == "" || $('#new_address_mobile').val() == "" || $('#new_address_address').val() == "") {
      alert("请输入收货人姓名，电话和地址！");
      return false;
    } else {
      $("input[name='address[addressee]']").val($('#new_address_addressee').val());
      $("input[name='address[mobile]']").val($('#new_address_mobile').val());
      $("input[name='address[address]']").val($('#new_address_address').val());
      $('#new_address_form').submit();
    }
  });

  $('#new_order').validate({
    rules: {
      'order[address_id]': {
        required: true
      }
    },
    messages: {
      'order[address_id]': {
        required: '你还未选择收货地址哟！'
      }
    }
  });
</script>