<section id="columns" class="offcanvas-siderbars">
  <div class="row visible-xs">
	  <div class="container"> 
	    <div class="offcanvas-sidebars-buttons">
	      <button type="button" data-for="column-left" class="pull-left btn btn-danger"><i class="fa fa-sort-amount-asc"></i> Sidebar Left</button>
	      
	      <button type="button" data-for="column-right" class="pull-right btn btn-danger">Sidebar Right <i class="fa fa-sort-amount-desc"></i></button>
	    </div>
	  </div>
  </div>
  <div id="breadcrumb">
   	<ol class="breadcrumb container">
		  <li><a href="http://www.themelexus.com/demo/opencart/megashop/index.php?route=common/home"><span>首页</a></span></li>
		  <li><a href="http://www.themelexus.com/demo/opencart/megashop/index.php?route=checkout/cart"><span>购物车</a></span></li>
		</ol>
	</div>  

  <div class="container">
    <div class="row">
      <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="content">
          <h1>订单结算</h1>
          <div class="content page-not-found">
            <div class="checkout wrapper no-margin">
            	<%= form_for(@order) do |f| %>
              <div class="cart-info table-responsive">
                <table class="table table-hover table-bordered">
                  <thead>
                    <tr>
                      <td class="image">图片</td>
                      <td class="name">商品</td>
                      <td class="quantity" style="width:100px;">数量</td>
                      <td class="price" style="width:100px;">单价</td>
                      <td class="total" style="width:100px;">总价</td>
                    </tr>
                  </thead>
                  <tbody>
                  <% @products.each do |product| %>
                    <tr>
                      <td class="image" data-label="Image" style="width:100px;height:50px;">
                        <%= link_to product_path(product) do %>
                          <%= image_tag(product.pictures.first.image.url("500x500"), :id=>"image", "data-zoom-image"=>"#{product.pictures.first.image.url("500x500")}") %>
                        <% end %>
                      </td>
                      <td class="name" data-label="Product Name">
                        <%= link_to product_path(product) do %>
                          <%= product.name %>
                        <% end %>
                        <input type="checkbox" name="products[]" value="<%= product.id %>" checked="true" style="display:none;" />
                        <div class="cart-option">
                        </div>
                        <small>Reward Points: 700</small>
                      </td>
                      <td class="quantity" data-label="Quantity">
                        <%= product.quantity_in_cart(current_or_guest_member) %>
                      </td>
                      <td class="price" data-label="Unit Price">￥<%= product.price %></td>
                      <td class="total" data-label="Total">￥<%= product.price * product.quantity_in_cart(current_or_guest_member) %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>

              <div class="content">
                <table class="radio">
                  <tr class="highlight">
                  	<td style="width:200px;">
                  		<%= f.label :pay_method %>
                  	</td>
                    <td>
                      <%= f.select :pay_method, Order.pay_method.options, {:prompt=>"请选择"}, :class => "form-control" %>
                    </td>
                  </tr>
                  <tr>
                  	<td>
                  		<%= f.label :address %>
                  	</td>
                  	<td>
                  		<%= f.text_field :address, :class => "form-control" %>
                  	</td>
                  </tr>
                </table>
              </div>
              <% end %>
                  
              <div class="wrapper-cart-total">
                <div class="cart-total clearfix">
                  <table id="total">
                    <tr>
                      <td class="right"><b>Sub-Total:</b></td>
                      <td class="right">$1,000.00</td>
                    </tr>
                    <tr>
                      <td class="right"><b>Eco Tax (-2.00):</b></td>
                      <td class="right">$2.00</td>
                    </tr>
                    <tr>
                      <td class="right"><b>VAT (17.5%):</b></td>
                      <td class="right">$175.00</td>
                    </tr>
                    <tr>
                      <td class="right"><b>Total:</b></td>
                      <td class="right">$1,177.00</td>
                    </tr>
                  </table>
                </div>
              </div>
              
            </div>  
            <div class="buttons">
              <div class="right">
                <a href="#" class="button" onclick="$('#new_order').submit()">确认订单</a>
              </div>
              <div class="left">
                <a href="http://www.themelexus.com/demo/opencart/megashop/index.php?route=common/home" class="button">继续购物</a>
              </div>
            </div>
          </div>  
        </div>
      </section>
    </div>
  </div>
</section>