<%= render 'manage/cinema/shared/navbar' %>
<%= render 'shared/notification' %>
<section id="tickets" class="offcanvas-siderbars">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading"><span>电影院管理中心</span></div>
          <ul class="list-group">
            <li class="list-group-item"><%= link_to '我的电影院', cinemas_path %></li>
            <li class="list-group-item"><%= link_to '创建电影院', new_cinema_path %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading"><span>修改电影院</span></div>
          <div class="panel-body">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>