      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <div class="media">
                    <a class="pull-left" href="#">
                      <%= image_tag(@cinema.avatar.url("50x50"), :class=>"media-object") %>
                    </a>
                    <div class="media-body">
                      <span class="name"><%= @cinema.name %></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-tabs">
                    <li><%= link_to "在线购票", cinema_path(@cinema) %></li>
                    <li><a href="#">优惠活动</a></li>
                    <li><a href="#">影院介绍</a></li>
                    <li><%= link_to "留言板", comments_cinema_path(@cinema) %></li>
                    <li class="active"><%= link_to "工作招聘", employment_cinema_path(@cinema) %></li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>职位</th>
                        <th>说明</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="line-height:40px;">服务员</td>
                        <td style="line-height:40px;">影院的售票，检票，放映工作。</td>
                        <td>
                          <%= form_for([@cinema, @employment], :remote => true, :html => { :class => "form-horizontal" }) do |f| %>
                            <%= f.submit "应聘", :class => "btn btn-info btn-sm" %>
                          <% end %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  <a href="#" class="thumbnail">
                    <%= image_tag(@cinema.avatar.url("140x140")) %>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>