<section id="market-page">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">美月无忧商城</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "首页", products_path %></li>
            <% Node.all.each do |node| %>
            <li>
              <%= link_to node.name, node_products_path(node) %>
            </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</section>
<section id="cart" class="offcanvas-siderbars">
  <div class="container">
    <div class="row">
      <form action="<%= new_order_path %>" method="get" id="line_items_form">
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id="content" class="panel panel-default">
            <div class="panel-heading">
              购物车
            </div>
            <div class="panel-body">
              <% if @line_items.blank? %>
              <h2><span class="fa fa-notification"></span>对不起，在购物车里找不到任何商品！</h2>
              <p>你的购物车还是空的哟!赶快 <%= link_to "喂饱", root_path, :class=>"btn btn-danger" %> 它吧！</p>

              <div class="buttons">
                <div class="right">
                  <%= link_to "继续购物", root_path, :class=>"btn btn-info" %></div>
                </div>
              </div>
              <% else %>
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <td style="width:30px;"><input type="checkbox" checked="true" /></td>
                    <td class="image">图片</td>
                    <td class="name">商品</td>
                    <td class="quantity" style="width:70px;">数量</td>
                    <td class="price" style="width:100px;">单价</td>
                    <td class="total" style="width:100px;">总价</td>
                    <td style="width:110px;"></td>
                  </tr>
                </thead>
                <tbody>
                  
                  <% @line_items.each do |line_item| %>
                    <tr id="line_item_<%= line_item.id %>">
                      <td style="width:30px;line-height:40px;text-align:center;">
                        <input type="checkbox" name="line_items[]" value="<%= line_item.id %>" checked="true" />
                      </td>
                      <td class="image" data-label="Image" style="width:100px;height:50px;">
                        <%= line_item_image_tag(line_item) %>
                      </td>
                      <td class="name" data-label="Product Name">
                        <%= line_item_a_tag(line_item) %>
                        <div class="cart-option">
                        </div>
                        <small></small>
                      </td>
                      <td class="quantity" data-label="Quantity" style="vertical-align:middle;">
                        <input type="text" name="quantity" data-id="<%= line_item.id %>" value="<%= line_item.amount %>" size="1" />
                      </td>
                      <td class="price" style="line-height:40px;">￥<%= line_item.line_itemable.price %></td>
                      <td class="total" style="line-height:40px;">￥<%= line_item.line_itemable.price * line_item.amount %></td>
                      <td style="line-height:40px;">
                        <%= link_to "移出购物车", line_item_path(line_item.id), :remote => true, :method => :delete %>
                      </td>
                    </tr>
                  <% end %>
                  
                </tbody>
              </table>
              <div class="buttons">
                <div class="pull-right">
                  <input type="submit" class="btn btn-danger" value="结算" />
                </div>
                <div class="left">
                  <%= link_to "继续购物", products_path, :class=>"btn btn-info" %>
                </div>
              </div>
              <% end %>
            </div>   
          </div>
        </section>
      </form>
    </div>
  </div>
</section>
<script type="text/javascript">
$("input[name='quantity']").change(function(){
  id = $(this).data("id");
  amount = $(this).val();
  $.ajax({
    url: "/line_items/" + id,
    type: "PUT",
    data: {
      line_item: {
        amount: amount
      }
    }
  });
});
</script>