<%= form_for(@movie_movie) do |f| %>
  <% if @movie_movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie_movie.errors.count, "error") %> prohibited this movie_movie from being saved:</h2>

      <ul>
      <% @movie_movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :original_title %><br>
    <%= f.text_field :original_title %>
  </div>
  <div class="field">
    <%= f.label :pubdate %><br>
    <%= f.date_select :pubdate %>
  </div>
  <div class="field">
    <%= f.label :mainland_pubdate %><br>
    <%= f.date_select :mainland_pubdate %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :durations %><br>
    <%= f.text_field :durations %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :cover %><br>
    <%= f.text_field :cover %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
