<section id="market-page">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="fa fa-list"></span>
          </a>
          <a class="navbar-brand" href="#">美月无忧</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "首页", root_path %></li>
            <li><%= link_to "电影购票&影讯", movies_path %></li>
            <li><%= link_to "愉快购物", products_path %></li>
            <li><%= link_to "智能点餐", products_path %></li>
            <li><%= link_to "尝试云购", products_path %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</section>
<%= render 'shared/notification' %>
<section id="columns" class="offcanvas-siderbars">
  <div class="container">
    <div class="row">
      <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">  
        <div id="content" class="panel panel-default">
          <h1 class="suc">账号 登录</h1>
          <div class="underline"> 
          </div>
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <div class="content" style="margin-top:30px;">            
              <div class="form-group">
                <label class="col-sm-2 control-label">账号</label>
                <div class="col-sm-3">  
                  <%= f.text_field :login, :autofocus => true, :class => "form-control" %>
                </div>
                <div class="col-sm-7 help-info">可以用邮箱，账号，手机登录。</div>
              </div>
              <div class="form-group">
                <%= f.label :password, :class => "col-sm-2 control-label" %>
                <div class="col-sm-3">
                  <%= f.password_field :password, :class => "form-control" %>
                </div>
                <div class="col-sm-7 help-info">请填写密码，注意大小写，至少8位。</div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <% if devise_mapping.rememberable? -%>
                    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
                  <% end -%>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <%= f.submit "登 录", :class => "btn btn-info" %> 
                  <a href="http://www.themelexus.com/demo/opencart/megashop/index.php?route=account/forgotten">忘记密码？</a> 
                </div>
              </div>
            </div>
          <% end %>
        </div> 
      </section> 
    </div>
  </div>
</section>
<script type="text/javascript">
  $('#new_member').validate({
    rules: {
      'member[login]': {
        required: true
      },
      'member[password]': {
        required: true,
        minlength: 8,
        maxlength: 16
      }
    },
    messages: {
      'member[login]': {
        required: '<%= resource.errors.generate_message :login, :blank %>'
      },
      'member[password]': {
        required: '<%= resource.errors.generate_message :password, :blank %>',
        minlength: '至少8位以上密码',
        maxlength: '密码最多16位'
      }
    }
  });
</script>