<section id="market-page">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">美月无忧</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "首页", root_path %></li>
            <li><%= link_to "电影购票&影讯", movies_path %></li>
            <li><%= link_to "愉快购物", products_path %></li>
            <li><%= link_to "智能点餐", products_path %></li>
            <li><%= link_to "尝试云购", products_path %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</section>
<section id="sys-notification">
  <div class="container">
    <div id="notification">
      <%= notice_message %>
    </div>
  </div>
</section>
<section id="columns" class="offcanvas-siderbars">
	<div class="container">
		<div class="row">
			<section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">  
				<div id="content">
					<h1>账号 登录</h1>		
					<div class="login-content wrapper">
						<div class="row">
							<div class="col-lg-6 col-sm-6 col-xs-12">
								<div class="inner no-margin">
									<h2>新顾客</h2>
									<div class="content">
										<p>注册账号</p>
										<p>注册账号，可以让你更方便地使用我们网站的所有功能，而且我们会根据随时提供优惠信息，根据你的购买需求，为你推荐你喜欢的商品。</p>
										<p><%= link_to "马上注册", new_member_registration_path, :class=>"btn btn-danger" %></p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-sm-6 col-xs-12">
								<div class="inner underline no-margin">
									<h2>欢迎再次光临</h2>
									<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
										<div class="content">					  
											<div class="form-group">
												<p>请登录</p>					  	
												<label>账号/邮箱/手机</label>				
												<p><%= f.text_field :login, :autofocus => true %></p>		
											</div>
											<div class="form-group">				      						  	
												<%= f.label :password %>							
												<p><%= f.password_field :password %></p>
											</div>
											<% if devise_mapping.rememberable? -%>
										    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
										  <% end -%>
											<div class="form-group">
												<a href="http://www.themelexus.com/demo/opencart/megashop/index.php?route=account/forgotten">忘记密码？</a>						
											</div>

											<div class="form-group">
												<%= f.submit "登 录", :class => "btn btn-info" %>
											</div>				  
										</div>			
									<% end %>
								</div>
							</div>	
						</div>	
					</div>
				</div> 
			</section> 
		</div>
	</div>
</section>