<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap Admin</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <%= stylesheet_link_tag "cpanel" %>
  </head>
  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
  <body class=""> 
  <!--<![endif]-->
    <div class="row-fluid login">
    <div class="dialog">
        <p class="brand" href="index.html">Awesome.</p>
        <div class="block">
            <div class="block-header">
                <h2>Sign Up</h2>
            </div>
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                <div class="form-group">
                  <label>邮箱</label>
                  <%= f.text_field :email, :required => false, :autofocus => true, :class => "form-control" %>
                </div>
                <div>
                <div class="form-group">
                  <label>密码</label>
                  <%= f.password_field :password, :required => false, :class => "form-control" %>
                </div>
                <div class="form-group">
                  <label>密码确认</label>
                  <%= f.password_field :password_confirmation, :required => true, :class => "form-control" %>
                </div>
                <div class="form-actions">
                  <%= f.submit "Sign in", :class=>"btn btn-success pull-right" %>
                  <div class="clearfix"></div>
                </div>
          <% end %>
        </div>
    </div>
</div>
    
  </body>
</html>