<%= render 'manage/cinema/shared/navbar' %>
<%= render 'shared/notification' %>
<section id="tickets" class="offcanvas-siderbars">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'manage/cinema/shared/cinemas_sidebar' %>
      </div>
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading">
            <span><%= @cinema.name %></span> - <span><%= @movie_hall.name %></span>
          </div>
          <div class="panel-body">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>