<%= form_for(@picture) do |f| %>
  <%= render 'shared/form_error_messages', :f => f %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :is_cover %><br>
    <%= f.check_box :is_cover %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.text_field :product_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
