<h1>Listing addresses</h1>

<table>
  <thead>
    <tr>
      <th>Addressee</th>
      <th>Address</th>
      <th>Mobile</th>
      <th>Is default</th>
      <th>Member</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.addressee %></td>
        <td><%= address.address %></td>
        <td><%= address.mobile %></td>
        <td><%= address.is_default %></td>
        <td><%= address.member_id %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path %>
