<p id="notice"><%= notice %></p>

<p>
  <strong>Addressee:</strong>
  <%= @address.addressee %>
</p>

<p>
  <strong>Address:</strong>
  <%= @address.address %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @address.mobile %>
</p>

<p>
  <strong>Is default:</strong>
  <%= @address.is_default %>
</p>

<p>
  <strong>Member:</strong>
  <%= @address.member_id %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
