        <div class="col-md-2">
          <div class="sidebar">
            
          </div>
        </div>
        <div class="col-md-10">
          <div class="content">
            <ul class="breadcrumb">
              <li>管理面板</li>
              <li>会员管理</li>
            </ul>
            <h2>会员</h2>
            <table class="table" style="width:100%;">
              <thead>
                <tr>
                  <th style="width: 20px;"><input type="checkbox"></th>
                  <th style="width: 100px;">邮箱</th>
                  <th style="width: 100px;">昵称</th>
                  <th style="width: 100px;">注册时间</th>
                  <th style="width: 100px;">手机</th>
                  <th style="width: 50px;">操作</th>
                </tr>
              </thead>
              <tbody>
                <% @members.each do |member| %>
                <tr>
                  <td><input type="checkbox"></td>
                  <td><%= member.email %></td>
                  <td><%= member.nickname %></td>
                  <td><%= formattime(member.created_at) %></td>
                  <td><%= member.mobile %></td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        操作 <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><%= link_to "查看", cpanel_member_path(member) %></li>
                        <li><%= link_to "修改", edit_cpanel_member_path(member) %></li>
                        <li><%= link_to "删除", cpanel_member_path(member), :method => :delete %></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>