<%= render 'manage/cinema/shared/navbar' %>
<%= render 'shared/notification' %>
<section id="tickets" class="offcanvas-siderbars">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'manage/cinema/shared/cinemas_sidebar' %>
      </div>
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading">
            <span>员工列表</span>
          </div>
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th width="100px;">账号</th>
                  <th width="150px;">电话</th>
                  <th width="100px;">状态</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @employments.each do |employment| %>
                  <tr>
                    <td><%= employment.member.nickname %></td>
                    <td><%= employment.member.mobile %></td>
                    <td>
                      <span>
                        <a class="edit_employment" data-type="select" href="#" data-pk="<%= employment.id %>" data-url="<%= manage_cinema_cinema_employment_path(@cinema, employment) %>" data-placement="right">
                          <%= employment.status.text %>
                        </a>
                      </span>
                    </td>
                    <td><%= link_to '删除', manage_cinema_cinema_employment_path(@cinema, employment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function() {
    $.fn.editable.defaults.mode = 'pop';
    $(".edit_employment").editable({
      type: "text",
      title: "输入名称",
      source: [
        {value: 'work', text: '批准'}
      ],
      ajaxOptions: {
        type: 'PUT'
      },
      params: function(params) {
        //originally params contain pk, name and value
        params.employment = { "status" : "" };
        return params;
      }
    });
  });
</script>