        <div class="panel panel-info">
          <div class="panel-heading"><span>电影院管理中心</span></div>
          <ul class="list-group">
            <li class="list-group-item"><%= link_to '我的电影院', manage_cinema_cinemas_path %></li>
            <% if current_member.role.seller? %>
            <li class="list-group-item"><%= link_to '创建电影院', new_manage_cinema_cinema_path %></li>
            <% end %>
          </ul>
        </div>
        <% if controller_name == 'movie_halls' %>
        <div class="panel panel-info">
          <div class="panel-heading"><span>放映厅管理</span></div>
          <ul class="list-group">
            <li class="list-group-item"><%= link_to '放映厅', manage_cinema_cinema_movie_halls_path(@cinema) %></li>
            <li class="list-group-item"><%= link_to '创建放映厅', new_manage_cinema_cinema_movie_hall_path(@cinema) %></li>
          </ul>
        </div>
        <% end %>
        <% if controller_name == 'hall_seats' %>
        <div class="panel panel-info">
          <div class="panel-heading"><span>座位管理</span></div>
          <ul class="list-group">
            <li class="list-group-item"><%= link_to "#{@movie_hall.name}的座位", manage_cinema_cinema_movie_hall_hall_seats_path(@cinema, @movie_hall) %></li>
            <li class="list-group-item"><%= link_to '添加座位', new_manage_cinema_cinema_movie_hall_hall_seat_path(@cinema, @movie_hall) %></li>
          </ul>
        </div>
        <% end %>
        <% if controller_name == 'show_times' or controller_name == 'tickets' %>
        <div class="panel panel-info">
          <div class="panel-heading"><span>场次管理</span></div>
          <ul class="list-group">
            <li class="list-group-item"><%= link_to '场次列表', manage_cinema_cinema_show_times_path(@cinema) %></li>
            <li class="list-group-item"><%= link_to '添加场次', new_manage_cinema_cinema_show_time_path(@cinema) %></li>
            <li class="list-group-item"><%= link_to '出票', new_manage_cinema_cinema_ticket_path(@cinema) %></li>
          </ul>
        </div>
        <% end %>
        <% if controller_name == 'employments' %>
        <div class="panel panel-info">
          <div class="panel-heading"><span>员工管理中心</span></div>
          <ul class="list-group">
            <li class="list-group-item"><%= link_to '员工列表', manage_cinema_cinema_employments_path(@cinema) %></li>
          </ul>
        </div>
        <% end %>