        <div id="content">
          <div class="content-top">
          <% Node.where("business_scope = 'mywy'").each do |node| %>
            <div class=" box productcarousel">
              <div id="content" class="ui-slide-box">
                <div class="box-products slide" id="productcarousel<%= node.id %>">
                  <div class="ui-slide-control">
                    <span class="title"><%= node.name %></span>
                    <div class="pull-right">
                      <a class="prev-next-btn left" href="#productcarousel<%= node.id %>" data-slide="prev">
                      </a>
                      <a class="prev-next-btn right" href="#productcarousel<%= node.id %>"  data-slide="next">
                      </a>
                    </div>
                  </div>
            
                  <div class="carousel-inner ui-slide-content">
                    <div class="item active product-grid no-margin row">
                      
                  <% count = 1 %>
                  <% node.products.each do |product| %>
                        
                          <div class="products-item col-lg-3">
                            <div class="item-thumb">
                              <%= link_to product_path(product) do %>
                              <%= image_tag(product.pictures.first.image.url("500x500")) if not product.pictures.blank? %>
                              <% end %>
                            </div>
                            <h3 class="item-name"><%= link_to product.name, product_path(product) %></h3>
                            <div class="item-price"><%= product.price %> 元</div>
                            <div class="item-action">
                              <%= link_to product_path(product) do %>
                                <i class="fa fa-plus-circle"></i> 马上购买
                              <% end %>
                            </div>
                          </div>
            
                        <% if count%4 == 0 %>
                      
                    </div>
                    <div class="item product-grid no-margin row">
                      
                    <% end %>
                  <% count += 1 %>
                  <% end %>
                    </div>
                  </div>                
                </div>
              </div>  
            </div>
          <% end %>
          </div>
        </div>