<section id="market-page">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">美月无忧商城</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "首页", products_path %></li>
            <% Node.all.each do |node| %>
            <li>
              <%= link_to node.name, node_products_path(node) %>
            </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</section>
<%= render 'shared/notification' %>
<section id="market" class="offcanvas-siderbars">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-group product-category">
          <% Node.all.each do |node| %>
          <li class="list-group-item">
            <%= link_to node.name, node_products_path(node) %>
            <span class="pull-right"><i class="fa fa-angle-right"></i></span>
          </li>
          <% end %>
        </ul>

        <div id="movie" class="ui-slide-box">
          <div class="ui-slide-control">
            <span class="title">话费充值</span>
          </div>
          <div class="ui-slide-content">
            <form class="xm-recharge-form" action="#">
              <fieldset class="xm-recharge-tel">
                <label for="rechargeTel">手机号：</label>
                <span id="rechargeTips" class="xm-recharge-tips"></span>
                <input type="tel" class="form-control" name="rechargeTel" id="rechargeTel" placeholder="支持移动、联通、电信" />
              </fieldset>
              <fieldset class="xm-recharge-amount clearfix">
                <span class="fieldset-name">面值：</span>
                <label><input type="radio" name="rechargeAmount" id="amount30" value="30" />30元</label>
                <label><input type="radio" name="rechargeAmount" id="amount50" value="50" />50元</label>
                <label><input type="radio" name="rechargeAmount" id="amount100" value="100" checked />100元</label>
              </fieldset>
              <fieldset class="xm-recharge-price clearfix">
                <span class="fieldset-name">价格：</span>
                <span id="rechargePrice" class="fieldset-text"><span>98.4</span>元起</span>
              </fieldset>
              <fieldset class="xm-recharge-submit">
                <input id="rechargeBtn" class="btn btn-danger btn-recharge-submit disabled" type="submit" value="服务正在升级" />
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <section class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <% if @node.blank? %>
        <%= render 'no_node_index' %>
        <% else %>
        <%= render 'has_node_index' %>
        <% end %>
      </section>
    </div>
  </div>
</section>