<section id="market-page">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">美月无忧商城</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "首页", products_path %></li>
            <% Node.all.each do |node| %>
            <li>
              <%= link_to node.name, node_products_path(node) %>
            </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</section>
<section id="sys-notification">
  <div class="container">
    <div id="notification">
      <%= notice_message %>
    </div>
  </div>
</section>
<section id="good" class="offcanvas-siderbars">
  <div class="container goods-detail">
    <div class="panel panel-default goods-detail-info clearfix">
      <div class="row panel-body">        
          <div class="col-lg-8 col-sm-8 col-xs-12 goods-pic-box">
            <div class="goods-big-pic">
              <%= image_tag(@product.pictures.first.image.url("500x500"), :id=>"goodsBigPic") %>
            </div>
            <div class="goods-small-pic clearfix">
              <ul id="goodsPicList">
                <% @product.pictures.each do |pic| %>
                <li>
                  <img src="<%= pic.image.url("50x50")%>" data-src="<%= pic.image.url("500x500")%>" />
                </li>
                <% end %>
              </ul>
            </div>
            <span class="icon-slides icon-slides-prev" title="上一张" id="goodsPicPrev">上一张</span> 
            <span class="icon-slides icon-slides-next" title="下一张" id="goodsPicNext">下一张</span>
          </div>
          <div class="col-lg-4 col-sm-4 col-xs-12"> 
            <dl class="goods-info-box">
              <dt>
                <div class="discount">
                  <p></p>
                </div>
                <h1 id="goodsName"><%= @product.name %></h1>
              </dt>
              <dd class="goods-info-price">
                <!--S price-->
                <div class="item">
                  <span class="letter-spacing-2">价</span>格：
                  <strong class="goods-info-price-num" ><em id="goodsPrice"><%= @product.price %></em>元</strong>
                </div>
                <!--E price-->
                <div class="item">
                  <label>商品评价：</label>
                  <span id="goodsStarLevel"></span>
                  <a href="#goodsComment" id="goodsToComment"> 已有<%= @product.comments.count %>人评价 &gt;</a>
                </div>
                <!-- 评价 E -->
                <!--S 参与活动-->
                <!--E 参与活动-->
              </dd>
              <!--S 可选-->
              <dd>
                <div class="goods-info-quantity">
                  <div class="quantity-adder pull-left">
                    <div class="quantity-number pull-left">
                      <span>数 量:</span>
                      <input type="text" name="quantity" id="quantity" size="2" value="1" />
                    </div>
                    <div class="quantity-wrapper pull-left">
                      <span class="add-up add-action fa fa-plus" onClick="setAmount.add('#quantity')"></span> 
                      <span class="add-down add-action fa fa-minus" onClick="setAmount.reduce('#quantity')"></span>
                    </div>
                  </div>
                </div>
              </dd>
              <!--E 可选-->
              <dd class="clearfix" id="goodsDetailBtnBox">
                <a href="#" class="btn btn-primary" onclick="return Product.addToCart(this);" data-id="<%= @product.id %>"><i class="fa fa-plus-circle"></i> 加入购物车</a>
                <%= favorite_tag(@product) %>
              </dd>
              <dd class="goods-info-extent">
               
              </dd>
            </dl>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">你可能还喜欢</div>
          <div class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-success">
          <div class="panel-heading">
            <ul class="list-inline clearfix">
              <li class="current"><a href="#goodsDesc">产品详情</a></li>
              <li><a href="#goodsPar">规格参数</a></li>
              <li><a href="#goodsComment">用户评价(<%= @product.comments.count %>)</a></li>
              <li><a href="#goodsFaq">常见问题</a></li>
            </ul>    
          </div>
          <div class="panel-body" id="goodsDesc">
            <%= @product.description %>
          </div>
        </div>

        <div class="panel panel-warning" id="goodsPar">
          <div class="panel-heading">规格参数</div>
          <div class="panel-body"></div>
        </div>

        <div class="panel panel-info" id="goodsComment">
          <div class="panel-heading">商品评价 <span class="pull-right" data-toggle="modal" data-target="#commentPages"><i class="fa fa-comment"></i> 我要评论</span></div>
          <div class="panel-body">
            <div class="goods-comment-list">
              <ul id="goodsCommentList">
                <% @product.comments.each do |comment| %>
                <li><%= comment.body %></li>
                <% end %>
              </ul>
              <%= form_for([@product, Comment.new], :remote => true) do |f| %>
              <div class="modal fade xm-pagenavi" id="commentPages" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">我要留言</h4>
                    </div>
                    <div class="modal-body">
                      
                      <%= f.text_area :body, :class => "", :rows => "2", :cols => "10" %>
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">不留言了</button>
                      <%= f.submit "发表", :class=>"btn btn-primary" %>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="panel panel-danger" id="goodsFaq">
          <div class="panel-heading">常见问题</div>
          <div class="panel-body">
            <div class="goods-faq-list">
              <ul class="clearfix">
                <li>
                  <h2>如何挑选商品？</h2>
                  <p>点击页面上方“加入购物车”按钮或页面下拉时顶部导航上的“加入购物车”按钮将商品加入购物车，再点击页面右上角的“购物车”前往购物车页面进行结算。</p>
                </li>
                <li>
                  <h2>收藏商品功能</h2>
                  <p>点击“收藏按钮”后，按钮中的红心亮起代表收藏成功，再次点击取消收藏，按钮颜色回复灰色。您可在“个人中心”中的我的收藏查看所有收藏商品。</p>
                </li>
                <li>
                  <h2>维修网点销售配件吗？</h2>
                  <p>所有授权维修网点具备维修手机标配里配件的功能，部分指定授权维修网点可销售标配及部分官网配件，具体销售的产品及价格请以修网点信息为准。</p>
                </li>
                <li>
                  <h2>退换货办理流程</h2>
                  <p>您可拨打美月客服中心与客服人员沟通，或登录美月网“我的订单” ->“订单详情”下方点击“申请售后服务”并填写相应信息，美月看到您的申请，会安排工作人员与您进行退换货质量确认并办理相关事宜.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function(){
    Product.changeGoodsBigPic();
  });
</script>