<section id="market-page">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">美月无忧商城</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "首页", home_market_path %></li>
            <% Node.all.each do |node| %>
            <li>
              <%= link_to node.name, node_products_path(node) %>
            </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</section>
<section id="good" class="offcanvas-siderbars">
  <div class="container goods-detail">
    <div class="panel panel-default goods-detail-info clearfix">
      <div class="row panel-body">        
          <div class="col-lg-8 col-sm-8 col-xs-12 goods-pic-box">
            <div class="goods-big-pic">
              <%= image_tag(@product.pictures.first.image.url("500x500"), :id=>"goodsBigPic") %>
            </div>
            <div class="goods-small-pic clearfix">
              <ul id="goodsPicList">
                <% @product.pictures.each do |pic| %>
                <li>
                  <img src="<%= pic.image.url("500x500")%>" />
                </li>
                <% end %>
              </ul>
            </div>
            <span class="icon-slides icon-slides-prev" title="上一张" id="goodsPicPrev">上一张</span> 
            <span class="icon-slides icon-slides-next" title="下一张" id="goodsPicNext">下一张</span>
          </div>
          <div class="col-lg-4 col-sm-4 col-xs-12"> 
            <dl class="goods-info-box">
              <dt>
                <div class="discount">
                  <p></p>
                </div>
                <h1 id="goodsName"><%= @product.name %></h1>
              </dt>
              <dd class="goods-info-price">
                <!--S price-->
                <div class="item">
                  <span class="letter-spacing-2">价</span>格：
                  <strong class="goods-info-price-num" ><em id="goodsPrice"><%= @product.price %></em>元</strong>
                </div>
                <!--E price-->
                <div class="item">
                  <label>商品评价：</label>
                  <span id="goodsStarLevel"></span>
                  <a href="#goodsComment" id="goodsToComment"> 已有3666人评价 &gt;</a>
                </div>
                <!-- 评价 E -->
                <!--S 参与活动-->
                <!--E 参与活动-->
              </dd>
              <!--S 可选-->
              <dd>
                <div class="goods-info-options">
                  <div class="product-extra">
                    <div class="quantity-adder pull-left">
                      <div class="quantity-number pull-left">
                        <span>数 量:</span>
                        <input type="text" name="quantity" id="quantity" size="2" value="1" />
                      </div>
                      <div class="quantity-wrapper pull-left">
                        <span class="add-up add-action fa fa-plus" onClick="setAmount.add('#quantity')"></span> 
                        <span class="add-down add-action fa fa-minus" onClick="setAmount.reduce('#quantity')"></span>
                      </div>
                    </div>
                  </div>                                               
                </div>
              </dd>
              <!--E 可选-->
              <dd class="clearfix" id="goodsDetailBtnBox">
                <a href="#" class="btn btn-primary" onclick="return Product.addToCart(this);" data-id="<%= @product.id %>"><i class="fa fa-plus-circle"></i> 加入购物车</a>
                <a class="btn btn-default" onclick="addToWishList('60');">
                  <i class="fa fa-heart fa fa-wishlist-compare"></i>
                  收藏夹
                </a>
              </dd>
              <dd class="goods-info-extent">
               
              </dd>
            </dl>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">你可能还喜欢</div>
          <div class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-success">
          <div class="panel-heading">
            <ul class="list-inline clearfix">
              <li><a href="#tab-description">详细描述</a></li>     
              <li><a href="#tab-review">评价 (<%= @product.comments.count %>)</a></li>
            </ul>    
          </div>
          <div class="panel-body">
            <div class="tabs-group box">
              <div id="tab-description" class="tab-content">
                <%= @product.description %>
              </div>
              <div id="tab-review" class="tab-content no-margin">
                <table class="table" id="comments_list">
                  <% @product.comments.each do |comment| %>
                  <tr>
                    <td></td>
                    <td><%= comment.body %></td>
                  </tr>
                  <% end %>
                </table>
                <div id="review"></div>
                <h2 id="review-title">评价</h2>
                <%= form_for([@product, @comment], :remote => true) do |f| %>
                <div class="form-group">
                  <p>
                    <%= f.text_area :body, :class => "form-control", :cols => "50", :rows => "8" %>
                  </p>
                </div>
                
                <div class="buttons no-padding">
                  <div class="pull-right"><%= f.submit "发表", :class=>"button" %></div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
  $('#tabs a').tabs();
</script> 