<%= form_for(@line_item) do |f| %>
  <%= render 'shared/form_error_messages', :f => f %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
