<%= form_for([:cpanel, @node, @product], :validate => true) do |f| %>
<fieldset>
  <div class="form-group row">
    <div class="col-md-6">
      <label>名称：</label>
      <%= f.text_field :name, :class=>"form-control" %>
    </div>
    <div class="col-md-6">
      <label>SKU：</label>
      <%= f.text_field :sku, :class=>"form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <label>入货价：</label>
      <%= f.text_field :inprice, :class=>"form-control" %>
    </div>
    <div class="col-md-6">
      <label>零售价：</label>
      <%= f.text_field :price, :class=>"form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <label>库存量：</label>
      <%= f.text_field :inventory, :class=>"form-control" %>
    </div>
    <div class="col-md-6">
      <label>条形码：</label>
      <%= f.text_field :barcode, :class=>"form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <label>可选属性：</label>
      <select multiple name="product[option_type_ids][]" id="e9" class="form-control" style="width:345px;">
        <% OptionType.all.each do |option_type| %>
        <option value="<%= option_type.id %>"><%= option_type.presentation %>（<%= option_type.name %>）</option>
        <% end %>
      </select>
    </div>
    <div class="col-md-6">
      <label>所属节点：</label>
      <%= f.select :node_id, Node.where("business_scope = 'mywy'").collect{|n| [n.name, n.id]}, {:prompt => "请选择一种类型"}, :class=>"form-control" %>
    </div>
  </div>
  <div class="form-group row">
    
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <label>描述：</label>
      <%= f.text_area :description, :class => "form-control", 'data-behaviors' => 'autosize' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <%= f.submit "保存", :class => 'btn btn-default' %>
      or
      <%= link_to '返回', cpanel_products_path, :class => 'btn btn-default' %>
    </div>
  </div>
</fieldset>
<% end %>
<script type="text/javascript">
  var editor = new Simditor({
    textarea: $('#product_description'),
    upload: {
      url: '',
      params: null,
      connectionCount: 3,
      leaveConfirm: '正在上传文件，如果离开上传会自动取消'
    },
  });
  $("#e9").select2();
</script>