<section id="movie-page">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">美月无忧电影</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">购票</a></li>
            <li><a href="#">问答</a></li>
          </ul>
          <% if current_member.role.seller? %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "我的电影院", cinemas_path %></a></li>
          </ul>
          <% end %>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</section>
<section id="tickets" class="offcanvas-siderbars">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-warning">
          <div class="panel-heading"><span>我的订单</span></div>
          <div class="panel-body">
            <ul>
              <li>影片<%= @show_time.movie.title %></li>
              <li>时间<%= @show_time.show_time %></li>
              <li>票价<%= @show_time.price %>/张</li>
              <li>票数  总计</li>
            </ul>
          </div>
        </div>
        <div class="panel panel-warning">
          <div class="panel-heading"><span>票务中心</span></div>
          <ul class="list-group">
            <li class="list-group-item">未付款电影票</li>
            <li class="list-group-item">已付款电影票</li>
            <li class="list-group-item">已取消电影票</li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading">
            <span><%= @cinema.name %> - <%= @show_time.movie_hall.name %> - <%= @show_time.movie.title %> - <%= formattime(@show_time.show_time, :unit => "noDayOnlyHour") %></span>
          </div>
          <div class="panel-body">
            <%= form_for(Ticket.new) do |f| %>
            <%= f.hidden_field :movie_id, :value => @show_time.movie.id %>
            <%= f.hidden_field :cinema_id, :value => @cinema.id %>
            <%= f.hidden_field :show_time_id, :value => @show_time.id %>
            <%= f.hidden_field :channel, :value => :website %>
            <table class="seating_chart">
              <tr>
                <td>屏幕</td>
              </tr>
            <% (1..@movie_hall.rows).each do |row| %>
              <tr>
                <td><%= row %>排</td>
                <% (1..@movie_hall.cols).each do |col| %>
                <td>
                  <%= hall_seat_tag(row, col, @show_time.id, @movie_hall) %>
                </td>
                <% end %>
              </tr>
            <% end %>
            </table>
            <%= f.submit "订票", :class => "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>