<!DOCTYPE html>
<html>
<head>
  	<title>美月无忧</title>
  	<meta http-equiv="Access-Control-Allow-Origin" content="*" />
  	<!-- END Icons -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
</head>
<body id="offcanvas-container" class="offcanvas-container layout-fullwidth fs12 page-common-home ">
	<section id="page" class="offcanvas-pusher" role="main">
		<header id="header" class="header">
			<%= render "shared/topbar" %>
			<%= render "shared/header_main" %>
		</header>
		
		<%= yield %>


		<%= render "shared/footer" %>
	</section>
</body>
</html>
