<!DOCTYPE html>
<html>
<head>
  	<title>美月无忧</title>
  	<meta http-equiv="Access-Control-Allow-Origin" content="*" />
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
</head>
<body>
	<section id="page" class="offcanvas-pusher" role="main">
		<header id="header" class="header">
			<%= render "shared/topbar" %>
			<%= render "shared/header_main" %>
		</header>
		
		<%= yield %>


		<%= render "shared/footer" %>
	</section>
</body>
<%= javascript_include_tag "essage", "data-turbolinks-track" => true %>
</html>