<section id="movie-page">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">美月无忧电影</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">购票</a></li>
            <li><a href="#">问答</a></li>
          </ul>
          <% if current_member.role.seller? %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "我的电影院", cinemas_path %></a></li>
          </ul>
          <% end %>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</section>
<section id="sys-notification">
  <div class="container">
    <div id="notification">
      <%= notice_message %>
    </div>
  </div>
</section>
<section id="tickets" class="offcanvas-siderbars">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading"><span>电影院管理中心</span></div>
          <ul class="list-group">
            <li class="list-group-item"><%= link_to '我的电影院', cinemas_path %></li>
            <li class="list-group-item"><%= link_to '创建电影院', new_cinema_path %></li>
          </ul>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading"><span>放映厅管理</span></div>
          <ul class="list-group">
            <li class="list-group-item"><%= link_to '放映厅', cinema_movie_halls_path(@cinema) %></li>
            <li class="list-group-item"><%= link_to '创建放映厅', new_cinema_movie_hall_path(@cinema) %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading">
            <span><%= @cinema.name %></span>
          </div>
          <div class="panel-body">
            <table class="table" id="movie_halls" style="width:100%;">
              <thead>
                <tr>
                  <th style="width: 20px;"><input type="checkbox"></th>
                  <th style="width: 100px;">放映厅名</th>
                  <th style="width: 100px;">总行数</th>
                  <th style="width: 100px;">总列数</th>
                  <th style="width: 100px;">座位</th>
                  <th style="width: 50px;">操作</th>
                </tr>
              </thead>
              <tbody>
                <% @movie_halls.each do |movie_hall| %>
                <tr>
                  <td><input type="checkbox" style="margin-top:12px;"></td>
                  <td>
                    <span style="font-size:17px;line-height:37px;">
                      <a class="edit_movie_hall_name" href="#" data-pk="<%= movie_hall.id %>" data-url="<%= cinema_movie_hall_path(@cinema, movie_hall) %>" data-placement="right">
                        <%= movie_hall.name %>
                      </a>
                    </span>
                  </td>
                  <td>
                    <span style="font-size:17px;line-height:37px;">
                      <a class="edit_movie_hall_rows" href="#" data-pk="<%= movie_hall.id %>" data-url="<%= cinema_movie_hall_path(@cinema, movie_hall) %>" data-placement="right">
                        <%= movie_hall.rows %>
                      </a>
                    </span>
                  </td>
                  <td>
                    <span style="font-size:17px;line-height:37px;">
                      <a class="edit_movie_hall_cols" href="#" data-pk="<%= movie_hall.id %>" data-url="<%= cinema_movie_hall_path(@cinema, movie_hall) %>" data-placement="right">
                        <%= movie_hall.cols %>
                      </a>
                    </span>
                  </td>
                  <td><%= link_to "查看影厅座位", cinema_movie_hall_hall_seats_path(@cinema, movie_hall), :class => "btn btn-info btn-sm" %></td>
                  <td>
                    <%= link_to "删除", cinema_movie_hall_path(@cinema, movie_hall), :method => :delete, :class => "btn btn-info btn-sm" %></li>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function() {
    $.fn.editable.defaults.mode = 'pop';
    $(".edit_movie_hall_name").editable({
      type: "text",
      title: "输入名称",
      ajaxOptions: {
        type: 'PUT'
      },
      params: function(params) {
        //originally params contain pk, name and value
        params.movie_hall = { "name" : "" };
        params.update_attr = "name";
        return params;
      }
    });
    $(".edit_movie_hall_rows").editable({
      type: "text",
      title: "输入总行数",
      ajaxOptions: {
        type: 'PUT'
      },
      params: function(params) {
        //originally params contain pk, name and value
        params.movie_hall = { "rows" : "" };
        params.update_attr = "rows";
        return params;
      }
    });
    $(".edit_movie_hall_cols").editable({
      type: "text",
      title: "输入总列数",
      ajaxOptions: {
        type: 'PUT'
      },
      params: function(params) {
        //originally params contain pk, name and value
        params.movie_hall = { "cols" : "" };
        params.update_attr = "cols";
        return params;
      }
    });
  });
</script>